
body {
    margin: 0px;
    padding: 0px;
    background-color: #DDDDDD; 
    font: 20px sans-serif;
}

#bg {
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
}

#gohan {
    position: fixed;
    z-index: 2;
    top: 420px;
    left: 20px;
}

#stamp {
    position: fixed;
    z-index: 2;
    top: 420px;
    left: 360px;
}

#present {
    position: fixed;
    z-index: 2;
    top: 650px;
    left: 360px;
}

#help {
    position: fixed;
    z-index: 2;
    top: 650px;
    left: 40px;
}

#title {
    position: fixed;
    z-index: 3;
    top: 180px;
    left: 90px;
}

#megami {
    position: fixed;
    z-index: 2;
    top:  -20px;
    left:160px;
}

#nasu {
    position: fixed;
    z-index: 2;
    top:  100px;
    left: 480px;
}

#ninjin {
    position: fixed;
    z-index: 2;
    top:   30px;
    left:   0px;
}

#piman {
    position: fixed;
    z-index: 2;
    top:   230px;
    left:   0px;
}

#tomato {
    position: fixed;
    z-index: 2;
    top:   300px;
    left:  500px;
}

#select_serifuwaku {
    position: fixed;
    z-index: 2;
    top:  10px;
    left: 0px;
}

#select_serifu {
    position: fixed;
    z-index: 3;
    top:  10px;
    left: 20px;
}

#select_megami {
    position: fixed;
    z-index: 2;
    top:  280px;
    left:100px;
}

#select_nasu {
    position: fixed;
    z-index: 2;
    top:  520px;
    left: 300px;
}

#select_ninjin {
    position: fixed;
    z-index: 2;
    top:   500px;
    left:   20px;
}

#select_piman {
    position: fixed;
    z-index: 2;
    top:   150px;
    left:   20px;
}

#select_tomato {
    position: fixed;
    z-index: 2;
    top:   170px;
    left:  300px;
}

#load_kemuri {
    position: fixed;
    z-index: 2;
    top:   250px;
    left:   10px;
}

#select_yarinaoshi {
    position: fixed;
    z-index: 2;
    top:   600px;
    left:   60px;
}

#in_kamisama {
    position: fixed;
    z-index: 2;
    top:   130px;
    left:   80px;
}

#in_toujo {
    position: fixed;
    z-index: 5;
    top:   50px;
    left:   0px;
}
#in_serifuwaku {
    position: fixed;
    z-index: 2;
    top:   550px;
    left:    0px;
}

#in_serifu {
    position: fixed;
    z-index: 3;
    top:   550px;
    left:   50px;
}

#itadakimasu_kamisama {
    position: fixed;
    z-index: 3;
    top:   230px;
    left:  280px;
}

#itadakimasu_te {
    position: fixed;
    z-index: 2;
    top:     0px;
    left:    0px;
}

#tabeyou_kamisama {
    position: fixed;
    z-index: 5;
    top:   150px;
    left:   80px;
}


#tabeyou_serifu {
    position: fixed;
    z-index: 3;
    top:   0px;
    left:  0px;
}

#tabeyou_serifuwaku {
    position: fixed;
    z-index: 2;
    top:    0px;
    left:   0px;
}

#tabeta_serifu {
    position: fixed;
    z-index: 3;
    top:   550px;
    left:   50px;
}

#item_coin {
    position: fixed;
    z-index: 3;
    top:   0px;
    left:  0px;
}

#item_get {
    position: fixed;
    z-index: 3;
    top:   600px;
    left:   0px;
}